
# Ignore database files
*.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore the virtual environment directory
venv/
env/

# Ignore secret keys and sensitive data
*.env
*.key

# Ignore static files
/staticfiles

# Ignore media files
/media

# Ignore logs
logs/

# Ignore migrations files
**/migrations/

# Ignore test data
test_data/

# Ignore IDE specific files
.vscode/
.idea/
